<ol>
  <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
  <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
  <li>Add a button which may only be clicked if the username is NOT an empty string</li>
  <li>Upon clicking the button, the username should be reset to an empty string</li>
</ol>

<h4>username:</h4>
<input #username type="text" class="form-control" (keyup)="onKey($event)" />
  <p>{{ values }}</p>
  <div *ngIf ="values;then thenBlock else elseBlock "></div>
  <ng-template #thenBlock><button  class="btn btn-primary" type="submit" (click) = "username.value = ''; values='' " >Reset User</button></ng-template> 
  <ng-template #elseBlock><button disabled class="btn btn-primary" type="submit" >Reset User</button></ng-template> 
